extends Adminlayout

block content
  div(ng-controller="MainCtrl")
    div <%updated%>
    div(ng-click="test(this,$event)") click
    form(name="myfrom" action="/from")
      input(name="tt" value="cc")
      button(type="submit" name="s") submit
      form(name="myfrom2" action="/from2")
        input(name="t" value="c")
  //script setTimeout(function(){var end = +new Date - parseInt(#{st});console.log(end/1000);window.location.reload()}, 100000);
