block header
  title= title
  link(rel='stylesheet', href='/public/css/style.css')
  link(rel='stylesheet', href='/public/css/common.css')
  link(rel='stylesheet', href='/public/css/bootstrap3.11.css')
  script(src='/public/js/bower_components/angularjs/angular.js')
  script(src='/public/js/base.js')
  script(src='/public/js/page.js')
  script RMS.config = {'action':'#{action}'}
