extends layout

block content
  div(ng-controller="MainCtrl")
    div <%updated%>
    div(ng-click="test(this,$event)") click
    div(onclick="copyToClipboard()") ---
  //script setTimeout(function(){var end = +new Date - parseInt(#{st});console.log(end/1000);window.location.reload()}, 100000);
