doctype html
html(ng-app="app")
  head
    include header
    append header
  body
      div.blog-masthead
          div.container
              nav.blog-nav
                  each item in items
                      a(href='#{item.uri}',class="blog-nav-item #{item.cls}") #{item.name}
    block content