extends layout

block content
  div.container(ng-controller="roomsControl")
    div.contentpad
      nav.navbar.navbar-default
        .container-fluid
            .navbar-header
               a.navbar-brand(href='#')
                 button.btn.btn-default(type='button') Primary

      ul.list-group(id="roomLists")
          li.list-group-item(ng-repeat="item in items")
            span.badge <% item.nowNum%>
            |<% item.name%>


    .modal.fade.in(style="display: block;")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title 聊天室
                .modal-body
                    ul.list-group(id="roomLists" selector="li" ngd-click="itemClick(this)")
                        li.list-group-item(ng-repeat="item in items")
                            span.badge <% item.nowNum%>
                            | <% item.name%>
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') 创建聊天室
        .modal-backdrop.fade.in
  script(src="/public/js/socket.io.js")