extends layout

block content
  div.container(ng-controller="roomsControl")
    div.contentpad
        div.row.row-offcanvas.row-offcanvas-right
            div.col-xs-12.col-sm-8
                   |Toggle nav
                // /row
            // /.col-xs-12.col-sm-9
            div#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
                div.list-group
                    a.list-group-item.active(href='#') Link


    .modal.fade.in(style="display: block;" id="roomsModal")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true' ng-click="closeWin()") ×
                        span.sr-only Close
                    h4.modal-title 聊天室
                .modal-body
                    ul.list-group(id="roomLists" selector="li" ng-click="itemClick($event, this)")
                        li.list-group-item(ng-repeat="item in items" rel="<% item.id%>")
                            span.badge <% item.nowNum%>
                            | <% item.name%>
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') 创建聊天室
        .modal-backdrop.fade.in
  script(src="/public/js/socket.io.js")