extends layout

block content
  div.container(ng-controller="roomControl")
    div.contentpad
      nav.navbar.navbar-default
        .container-fluid
            .navbar-header
               a.navbar-brand(href='#')
                 button.btn.btn-default(type='button') Primary

      ul.list-group(id="roomLists")
          li.list-group-item(ng-repeat="item in items")
            span.badge <% item.nowNum%>
            |<% item.name%>

  script(src="/public/js/socket.io.js")