extends layout

block content
  div.container(ng-controller="roomsControl")
    div.contentpad
      ul.list-group(id="roomLists")
        each item in items
          li.list-group-item
            span.badge #{item.nowNum}
            |#{item.name}